.item-display-container {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.item-display-image {
  height: 30vh;
}
.item-display-info {
  max-width: 14vw;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }
}
